{# #######################
  footer.html
##########################

Content for the report footer.

#}

<p>
    <a href="https://www.uzgent.be/nl/zorgaanbod/mdspecialismen/CMGG" target="_blank" class="pull-right">
        <img src="data:image/png;base64,{{ include_file('assets/img/signature.png', b64=True) }}" style="height:41px; padding-right: 30px;">
    </a>
    <a href="https://www.cmgg.be/" target="_blank" class="pull-right">
        <img src="data:image/png;base64,{{ include_file('assets/img/cmgg.png', b64=True) }}" style="height:41px; padding-right: 30px;">
    </a>
    <strong>
        <a href="https://multiqc.info" target="_blank">MultiQC v{{ config.version }}</a>
    </strong> - Available on <a href="https://github.com/ewels/MultiQC" target="_blank">GitHub</a>.</br>
    Written by <a href="https://phil.ewels.co.uk" target="_blank">Phil Ewels</a> - Modified by <a href="https://github.com/matthdsm" target="_blank">Matthias De Smet</a>
    
</p>
